<app-dashboard><app-dashboard>
<app-order-view></app-order-view>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<!-- <p>The primary goal of this website is to welcome people whether it's men or women to a variety of custom
    designs nearby our stores. If a client is married to an American soldier who she/he hasn't seen in months. She/he would want to give the soldier a surprise, 
    maybe a cake or a treat ? How will she/he send it to him ? This website offers deliveries and tracks when it's being sent and when it was received.</p>

<p>Provide multiple pages of information about wedding cakes, graduation and military cakes. Also, help the 
 customers  get their cake delivered fast on time and when with an extremely low offer, ordering from your nearby cake shop with an app. </p>
<p>This is targeted toward anyone who would like to have their cake done fast. Whether it's for a loved one or a friend, this cake will be delivered in any part of the world.
  For example, let's say you live in Oregon but you really miss your brother who lives in Pakistan, “ Brayan's cake” will do it.</p> -->
