<app-header></app-header>
<br>
<h2>About Brayan's Cake</h2>
<p>The primary goal of this website is to welcome people whether it's men or women to a variety of custom designs nearby
    our stores. If a client is married to an American soldier who she/he hasn’t seen in months. She/he would want to
    give the soldier a surprise, maybe a cake or a treat ? How will she/he send it to him ? This website offers
    deliveries and tracks when it's being sent and when it was received.</p>
<h2>Meet the owner</h2>
<img src="https://scontent.fsac1-2.fna.fbcdn.net/v/t1.15752-9/330530884_712587147212306_5658427361020616441_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=9QkIQGXd_OoAX_Yoj9g&_nc_ht=scontent.fsac1-2.fna&oh=03_AdSYpU3bMZrnMGN3qEw502WhlOV8Z7KbHRpeINJ3RyHHOA&oe=64A4C442" alt="Trulli" width="500" height="333">
<br>
<br>
<br>
<br>

<app-dashboard></app-dashboard>


<!-- <app-note-view></app-note-view>

<mat-slide-toggle></mat-slide-toggle>
 -->



<h1>Main Location</h1>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer">
    <p>Author: Brayan Torres<br>
        <a href="mailto:bt409530@gmail.com">bt409530@gmail.com</a>
    </p>


    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-google"></a>


</footer>